body{
    margin:0;
    font-family: sans-serif;
    font-size: 16px;
}
.logoniv{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 20px;
}
.logoniv h5{
    margin-left: 40px;
    margin-right: 60px;;
} 
.header{
    padding:0px 20px;
    color:black;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.nav a{
    color:black;
    text-decoration:none;
}
.nav{
    font-size: 15px;
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-end;

}
.nav li{
    margin-left:40px;
}
.nav a:hover{
    color:blue;
}

.heading{
    color:black;
    text-align: center;
    padding: 10px 0;
}
.feature-list {
    max-width: 600px;
    margin: 0 auto;
    display:flex ;
    justify-content:center;
    flex-wrap: wrap;
    
}   
.features{
    height: 150px;
    width: 150px;
    border: 1px solid #f5f5f5;
    padding: 10px;
    box-shadow: 5px 5px #f5f5f5;
    margin: 45px 45px 45px 45px;
}
.features{
    border-style: solid;
    border-width: thin;
    background-color:#fff;
    text-align: center;
    align-content: center;

}
.down-logo{
    padding:0 40px;
}
.footer{
    display:flex;
    justify-content:space-between;
    padding:0 40px;
}
.footer{
    color:#696969;
    line-height: 1.6;
    font-size: 12px;
}
.socialmedia img{
       padding: 0 10px;
}