.header{
    padding:20 20px;
    color:black;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header a:hover{
    color:aliceblue;
}
.header a{
    color:black;
    text-decoration: none;
}
.heading{
    color:black;
    text-align: center;
    padding:20px;
}
